.help__btn {
  background-color: transparent;
  border: 2px solid #30ff00;
  border-radius: 8px;
  width: 254px;
  height: 83px;
  color: #fff;
  font-size: 38px;
  margin: 0;
  margin-right: 30px;
}

.skip__btn {
  background-color: transparent;
  border: 2px solid #b7b7b7;
  border-radius: 8px;
  width: 325px;
  height: 83px;
  color: #fff;
  font-size: 38px;
  margin: 0;
  margin-right: 30px;
}

.unhelp__btn {
  background-color: transparent;
  border: 2px solid #d14029;
  border-radius: 8px;
  width: 281px;
  height: 83px;
  color: #fff;
  font-size: 38px;
  margin: 0;
  margin-right: 30px;
}