.main {
  width: 100vw;
  height: 100vh;
  background-image: url('./../../images/main-screen-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.main__btn {
  border: none;
  background-color: transparent;
  min-width: 450px;
  min-height: 480px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.main__btn_lock {
  left: 550px;
  top: 500px;
  background-image: url('./../../images/icons/lock-btn.png');
}

.main__btn_file {
  left: 100px;
  top: 800px;
  background-image: url('./../../images/icons/file-btn.png');
}

.main__btn_radio {
  left: 500px;
  top: 1100px;
  background-image: url('./../../images/icons/radio-btn.png');
}

.main__btn_info {
  left: 850px;
  top: 1700px;
  min-width: 150px;
  min-height: 150px;
  background-image: url('./../../images/icons/faq.png');
}