.start {
  width: 100vw;
  height: 100vh;
  background-image: url('./../../images/start-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  display: flex;
}

.start__button {
  position: relative;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  min-width: 599px;
  min-height: 599px;
  background-image: url('./../../images/start-btn.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}
