@font-face {
	font-family: CodeProBold;
	src: url('../assets/fonts/Code-Pro-Bold.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProBlack;
	src: url('../assets/fonts/New-Code-Pro-Black.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProBold;
	src: url('../assets/fonts/New-Code-Pro-Bold.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProLc;
	src: url('../assets/fonts/New-Code-Pro-Lc.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProLight;
	src: url('../assets/fonts/New-Code-Pro-Light.otf');
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
div, p, span, h1, h2, h3, h4, img {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#myCanvas {
  display: none;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}
