@font-face {
	font-family: CodeProBold;
	src: url('../assets/fonts/Code-Pro-Bold.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProBlack;
	src: url('../assets/fonts/New-Code-Pro-Black.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProBold;
	src: url('../assets/fonts/New-Code-Pro-Bold.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProLc;
	src: url('../assets/fonts/New-Code-Pro-Lc.otf');
	font-style: normal;
}

@font-face {
	font-family: NewCodeProLight;
	src: url('../assets/fonts/New-Code-Pro-Light.otf');
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
div, p, span, h1, h2, h3, h4, img {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  background: #181818;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: NewCodeProLc;
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#myCanvas {
  display: none;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}


.lock {
  display: none;
  position: absolute;
  width: 8.5%;
  top: 59.5%;
  left: 21%;
  bottom: 33.5%;
  z-index: 10;
  border: none;
  font-family: 'NewCodeProLc';
  font-size: 200%;
  color: '#974f00';
  text-align: center;
  background-color: transparent;
}

#lock-1 {
  left: 21%;
}

#lock-2 {
  left: 31%;
}

#lock-3 {
  left: 41%;
}

#lock-4 {
  left: 51%;
}

#lock-5 {
  left: 61%;
}

#lock-6 {
  left: 71%;
}


#lock:focus {
  border: none;
  background: transparent;
  /* background: rgba(0, 0, 0, 0.5); */
}

#radio {
  display: none;
  position: absolute;
  width: 59%;
  top: 62%;
  left: 20.5%;
  bottom: 31%;
  z-index: 10;
  border: none;
  font-family: 'NewCodeProLc';
  font-size: 200%;
  letter-spacing: 200%;
  color: '#974f00';
  text-align: center;
}

#radio:focus {
  border: none;
  background: transparent;
}